:root {
  --primary-color: #409eff;
  --border-color: #eee;
  --text-color: #333;
  --chat-bg: #fff;
  --header-bg: #fff;
  --input-bg: #fff;
  --textarea-bg: #fff;
  --hover-bg: #f5f5f5;
  --oneself-color:#39C5BB;
  --copy-hover-bg:#ccc;
}

html.dark {
  --border-color: #333;
  --text-color: #fff;
  --chat-bg: #1a1a1a;
  --header-bg: #1a1a1a;
  --input-bg: #1a1a1a;
  --textarea-bg: #2a2a2a;
  --hover-bg: #2a2a2a;
  --copy-hover-bg:#212121;
}

body {
  margin: 0;
  color: var(--text-color);
  background: #f5f5f5;
  transition: color 0.3s, background-color 0.3s;
}

html.dark body {
  background: #121212;
}

* {
  box-sizing: border-box;
}